@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: rgb(234, 34, 34);
  background-color: rgb(224 255 255);
}

form {
  padding-top: 1.25rem;
  color: rgb(48, 95, 100);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.guess {
  background: none;
  border: 0.063rem solid rgb(25, 25, 112);
  border-radius: 3%;
  font-family: inherit;
  color: rgb(68, 68, 63);
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
}

button {
  border: 0.063rem solid rgb(25, 25, 112);
  border-radius: 0.225rem;
  display: block;
  margin: 3.75rem auto;
  background-color: rgb(241, 230, 214);
  color: rgb(68, 68, 63);
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 3.75rem;
  font-size: 1.8rem;
  font-family: inherit;
}
